<section class="footer">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <p class="title-footer">CỔNG THÔNG TIN ĐIỆN TỬ SỞ KHOA HỌC VÀ CÔNG NGHỆ TỈNH HƯNG YÊN</p>
            <p>Trưởng ban biên tập: Trần Tùng Chuẩn - Giám đốc sở KH & CN Hưng Yên
                Bản quyền thuộc về Sở KH & CN Hưng Yên - Đường An Vũ, Phường Hiến Nam, Thành phố Hưng Yên, Tỉnh Hưng Yên
                Tel: 02213.863.542
            </p>
        </div>
        <div class="col-md-2">
            <p class="title-footer">Giới thiệu</p>
            <ul>
                <li>Lịch sử phát triển</li>
                <li>Chức năng và nhiệm vụ</li>
                <li>Bạn giám đốc</li>
                <li>Cơ cấu tổ chức</li>
                <li>Phòng ban đơn vị trực thuộc</li>
            </ul>
        </div>
        <div class="col-md-2">
            <p class="title-footer">Hành chính công</p>
            <ul>
                <li>Thủ tục hành chính</li>
                <li>Chính sách hỗ trợ</li>
                <li>Dịch vụ công trực tuyến</li>
                <li>Cỉa cách hành chính - Chuyển đổi số</li>
            </ul>
        </div>
        <div class="col-md-3"></div>
    </div>
</section>